@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
#menu-button{
    display: none;
}

h2 {
    font-style: italic;
}

* {
    font-family: 'Readex Pro', sans-serif;

}

.main-div {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.login-button {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.login-button:hover {
    cursor: pointer;
}

.primary-button:hover {
    background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav .nav-button {
    margin-top: 150px;
    height: min-content;
    color: rgb(254, 48, 114);
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

nav .nav-button:disabled {
    background-color: rgb(181, 180, 180);
    color: rgb(189, 42, 90);
}

nav .logo-container {
    width: 200px;
    margin: 15px;
}

nav .logo-container .logo {
    width: 100%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.register-form label {
    margin-bottom: 5px;
}

.register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #45a049;
}

.register-form input[type="submit"]:focus {
    outline: none;
}

.overlay {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
    ), url("images/background.jpg")

}

.overlay h1 {
    color: rgb(255, 255, 255);
}

.notification {
    margin-top: 0;
    position: absolute;
    top: 0;
    font-weight: bold;
    background-color: darkgoldenrod;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%
}

.onboarding {
    width: 100vw;
    height: 100vh;
    border-top: solid 1px rgb(213, 213, 213);
    background-image: url("images/background.jpg");
    color: white;
    overflow-y: auto;

}

.onboarding form {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 35%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 5px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form input[type=radio] {
    display: none;
}

.onboarding form input[type=number] {
    width: 10%;
}

.onboarding form input[type=radio]:checked + label {
    border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type=submit]:hover {
    background-color: rgb(235, 235, 235);
}

.onboarding form input[type=submit]:active {
    background-color: rgb(226, 115, 115);
}

.onboarding form .photo-container img {
    width: 100%;
    max-height: 600px;
}

.chat-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
    width: 30%;
    text-align: left;
    z-index: 1;
}

.chat-container .chat-container-header {
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 4px rgb(243, 33, 33);
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url("images/background.jpg");
}

.user-panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.profile {
    display: flex;
    flex-direction: row;
    background-color: #232383;
    align-items: center;
}

.profile h2 {
    padding-right: 10px;
}

.profile img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px 10px 10px 10px;
}

.profile img:hover {
    scale: 110%;
    cursor: pointer;

}

.change-section {
    display: flex;
    background-color: black;
    height: 100px;
}

.section-button {
    width: 100px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.section-button:hover {
    background-color: #333;
}

.matches {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    background-color: black;
    height: 100%;
}

.matches ul {
    list-style: none;
    position: relative;
    white-space: normal;
    padding-left: 0;
}

.matches .match-card {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 150px;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-size: cover;
    white-space: normal;
    border-radius: 10%;
}

.matches .match-card:hover {
    cursor: pointer;
    scale: 110%;
}

.matches span {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 3px;
    padding: 2px;
}

.card-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.dashboard .swipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
    z-index: 100;
}


.card {
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.card h2 {
    font-size: 45px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 5%;
}

.card p {
    font-size: 35px;
    color: white;
}

.dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.login-page {
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/background.jpg");
    justify-content: center;
    margin: auto;
}

.login-page h1 {
    color: white;
}

.login-page img {
    width: 150px;
    height: 100px;
}


.settings-container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.profile-card {
    background-color: black;
    width: 60%;
    height: 80%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile-card::-webkit-scrollbar {
    display: none;
}

.profile-card img {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 0 0 0 0;
}

#matches-button {
    background-color: gray;
}

.profile-card p {
    color: white;
}

.settings > h1, h2 {
    color: white;
}

.settings {
    height: 100%;
}

.messenger-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: lightgray;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90%;
    align-items: start;
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.message-profile {
    background-color: rgb(166, 159, 159);
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message-profile::-webkit-scrollbar {
    display: none;
}

.messages > hr {
    color: grey;
}

.messages {
    display: flex;
    flex-direction: column;
    text-align: right;
    overflow-y: auto;
    background-color: black;
    height: 100%;
}

.messages ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    white-space: normal;
    margin-right: 30px;
    align-items: start;

}

.message-card:hover {
    cursor: pointer;
    background-color: grey;

}

.message-photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;

}

.first-name {
    color: white;
    position: absolute;
    padding-top: 5px;
    padding-left: 105px;

}

.last-message {
    color: white;
    position: absolute;
    padding-left: 30px;
    max-width: 100%;
    padding-top: 40px;

}

.messages-container p {
    background-color: blue;
    max-width: 50%;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 5px 0;
}

.mess {
    flex-direction: column;
    width: inherit;
}

#message-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#text {
    width: 100%;
    resize: none;
    height: 65px;

}

#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}

.match-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;;
}

.match-info p {
    background-color: inherit;
    color: black;
    font-weight: bold;
    font-size: 15px;

}

.match-info img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px 10px 10px 10px;
}

.message-profile img {
    width: 100%;
    height: 400px;
}

.message-profile p {
    padding: 10px;
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #cccccc;

}

.message-received-div {
    display: flex;
    justify-content: start;
    width: 95%;
}

.message-received-div p {
    background-color: dimgrey;
}

.message-send-div {
    display: flex;
    justify-content: end;
    width: 95%;
}

#new-message {
    color: darkgoldenrod;
    font-size: large;
}

.settings-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.settings-button:hover {
    background-color: #4b4f5a;
}

#create-account {
    color: white;
}

#create-account:hover {
    cursor: pointer
}

@media (max-width: 992px) {
    .user-panel {
        display: none;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .card-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .settings button, .settings h2, .settings h1 {
        font-size: 50%;

    }

    #distance {
        max-width: 100%;
    }

    .swipe {
        width: 80%;
        height: 100%;
    }

    .swipe p, .swipe h2 {
        font-size: 100%;
        max-width: 100%;
    }

    .onboarding form .multiple-input-container {
        display: flex;
        flex-direction: column;
    }

    .onboarding form .multiple-input-container input {
        width: 55%;
    }

    .card {
        width: 100%;
        height: 90%;
    }
#menu-button{
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.user-panel{
    display: none;
}
.message-profile{
    display: none;
}
.messenger-container{
    width: 100%;
}
#match-info{
    display: none;
}



}
